@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* 
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;
}

:root
{ 
        --bg-color: #0b061f;
        --text-color: #fdfdfd;
        --main-color: #754ef9;
        --white-color: #fdfdfd;
        --shadow-color: rgba(0, 0, 0, .7);
}

.dark-mode {
        --bg-color: #fdfdfd;
        --text-color: #333;
        --shadow-color: rgba(0,0,0,.2);
}

html
{
        font-size: 62.5%;
        overflow-x: hidden;
}

body
{
        background: var(--bg-color);
        color: var(--text-color);
}

.header {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 7%;
        background: transparent;
        display: flex;
        align-items: center;
        z-index: 100;
        transition: .5s;
}

.header.sticky {
        background: var(--bg-color);
        box-shadow: 0 .1rem 1rem var(--shadow-color);
        box-shadow: 2px 2px rgba(77, 2, 146, 0.733);
}

.header.sticky .navbar a {
        color: var(--text-color);

}
.active {
        text-decoration: underline;
}

.header.sticky .navbar a.active {
        color: var(--main-color);
}

.header.sticky .navbar a::before {
        background: var(--main-color);
        opacity: .7;
}

.header .logo
{
        font-size: 2.5rem;
        color: var(--main-color);
        font-weight: 600;
        cursor: default;
        margin-right: auto;
}

.navbar a 
{
        font-size: 1.7rem;
        color: var(--white-color);
        font-weight: 500;
        margin-right: 3.5rem;
}
.navbar a.active::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background: transparent;
}

#darkMode-icon
{
        font-size: 2.4rem;
        color: var(--white-color);
        cursor: pointer;
}

#menu-icon {
        font-size: 3.6rem;
        color: var(--text-color);
        display: none;
}

.header.sticky #darkMode-icon {
        color: var(--text-color);
        opacity: .9;
}

#login
{
        color: orange;
        text-decoration: underline;
        font-weight: 700;
}

#login:hover 
{
        font-size: 1.8rem;
}

section {
        min-height: 100vh;
        padding: 10rem 7% 2rem;
}

.home 
{
        display: flex;
        align-items: center;
}

.home .home-content 
{
        max-width: 44rem;
}

.home-content h3 
{
        font-size: 3.2rem;
        font-weight: 700;
        line-height: .3;
}

.home-content h1 
{
        font-size: 5.6rem;
        font-weight: 700;
        margin-bottom: .3rem;
}

.typed-cursor {
        color: rgba(95, 158, 160, 0);
}

.home-content p 
{
        font-size: 1.6rem;
}

.home-content .social-media a { 
        display: inline-flex; 
        justify-content: center; 
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        box-shadow: 0 .2rem .5rem var (--shadow-color); font-size: 2rem;
        color: var(--main-color);
        margin: 2.5rem 1.5rem 3rem 0;
        transition: .5s ease;
}

.home-content .social-media a:hover 
{
        background: var(--main-color);
        color: var(--white-color);
        animation: spin 0.4s;
        
}

@keyframes spin {
        from {
                transform: rotateY(0deg);
        }
        to {
                transform: rotateY(180deg);
        }
}

.btn 
{
        display: inline-block;
        padding: 1.2rem 2.8rem;
        background:
        var(--main-color);
        border-radius: .6rem;
        box-shadow: 0 .2rem .5rem var (--shadow-color);
        font-size: 1.6rem;
        color: var(--white-color); letter-spacing: .1rem;
        font-weight: 600;
        border: .2rem solid transparent;
        transition: .5s ease;
}

.btn:hover 
{
        background: transparent;
        color: var(--main-color);
        border-color: var(--main-color);
        cursor: copy;
        font-size: 1.7rem;
        transition: .5s ease;
}

/* -- profession --*/
/*square*/
.home .profession-container { 
        position: absolute;
        top: 50%;
        right: -80px;
        transform: translateY(-50%);
        width: 1000px;
        height: 920px;
        background: transparent;
        overflow: hidden;
        pointer-events: none;
}
/*sircle*/
.home .profession-container .profession-box { 
        position: absolute;
        top: 160px;
        right: 0;
        width: 630px;
        height: 630px;
        background: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {

        0%, 20% {
                transform: rotate(0deg);
        }
        25%, 45% {
                transform: rotate(-90deg);
        }
        50%, 70% {
                transform: rotate(-180deg);
        }
        75%, 95% {
                transform: rotate(-270deg);
        }
        100% {
                transform: rotate(-360deg);
        }
}

.home .profession-box .profession {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--main-color);
        transform: rotate(calc(360deg / 4 * var(--i)));
        transform-origin: 315px;
        padding: 13px 0;
        background: var(--bg-color);
}

.home .profession-box .profession:nth-child(1) i {
        margin-right: 5px;
}

.home .profession-box .profession:nth-child(2) i {
        margin-right: 10px;
}
.home .profession-box .profession:nth-child(2) h3 {
        font-size: 25px;
        font-weight: 700;
}
.home .profession-box .profession:nth-child(4) i {
        margin-right: 10px;
}

.home .profession i {
        font-size: 3.8rem;
}

.home .profession h3 {
        font-size: 3.2rem;
        line-height: 1;
        font-weight: 600;
}
/*sircle small*/
.home .profession-box .circle {
        width: 560px;
        height: 560px;
        border: 3px solid var(--main-color);
        border-radius: 50%;
}

.home .profession-container .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 460px solid var(--main-color);
        border-right: 460px solid var(--main-color);
        border-bottom: 460px solid var(--main-color);
        border-left: 460px solid transparent;
}

.home .profession-container .profession-box,
.home .profession-box .circle {
        left: 200px;
}

.home-img img
{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
        bottom: 250px;
        right: 370px;
        pointer-events: none;
}

/*-- about us --*/

span {
        color: var(--main-color);
}

.about {
        display: flex;
        justify-content: center;
        align-items: center;
}

.about-img img {
        width: 40vw;
        margin-bottom: 100px;
        margin-right: 60px;
}

.heading {
        font-size: 4.5rem;
        text-align: center;
}

.about-content {
        margin-bottom: 100px;
        
}

.about-content h2 {
        text-align: left;
        line-height: 1.2;
}
.about-content h3 {
        width: 600px;
        font-size: 1.7rem;
}

.about-content p {
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
}

/*-- Team --*/

.testimonital-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 5rem 1rem;
}

.testimonital-container .testimonial-wrapper {
        position: relative;
        max-width: 90rem;
        width: 100%;
        padding: 5rem ;
}

.testimonial-wrapper .testimonial-box {
        padding: 1rem;
        border-radius: 2rem;
        overflow: hidden;
}

.testimonital-container .testimonial-slide {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--bg-color);
        border-radius: 2rem;
        box-shadow: 0 .1rem .5rem var(--shadow-color);
        padding: 3rem 5rem;
        border-top: .8rem solid var(--main-color);
        border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img {
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        border-radius: 50%;
        border: .5rem solid --bg-color;
        outline: .5rem solid var(--main-color);
}
.testimonial-slide h3 {
        font-size: 2.5rem;
        margin: 2rem 0;
}

.testimonial-slide p {
        font-size: 1.4rem;
        text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
        color: var(--main-color);
}

.testimonial-box .swiper-button-next {
        right: 0;
}
.testimonial-box .swiper-button-prev {
        left: 0;
}

.testimonial-box .swiper-pagination-bullet {
        background: rgba(0, 0, 0, 0.8);
}

.testimonial-box .swiper-pagination-bullet-active {
        background: var(--main-color);
}



/*-- Services --*/

.services {
        min-height: auto;
        padding-bottom: 7rem;
}

.services h2 {
        margin-bottom: 5rem;
}

.services .services-container { 
        display: flex; 
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap; 
        gap: 2rem;
}
.services-container .services-box {
        flex: 1 1 30rem;
        background: var(--bg-color); 
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        box-shadow: 0 .1rem .5rem var(--shadow-color);
        text-align: center;
        border-top: .6rem solid var(--main-color);
        border-bottom: .6rem solid var(--main-color);
        transition: .5s ease;
        box-shadow: 10px 5px 5px rgba(23, 23, 24, 0.425);

}

.services-container .services-box:hover {
        box-shadow: 10px 5px 5px rgba(23, 23, 24, 0.55);
        transform: scale(1.02);
}

.services-box i {
        font-size: 7rem;
        color: var(--main-color);
}

.services-box h2 {
        margin-bottom: 5rem;
}

.services-box h3 {
        font-size: 2.6rem;
        transition: .5s ease;
}

.services-box:hover h3 {
        color: var(--main-color);
}

.services-box p {
        font-size: 1.6rem;
}

.services-box a {
        margin-top: 20px;
}

/*-- Contact --*/

.contact h2 {
        margin-bottom: 3rem;
}

.contact form {
        max-width: 70rem;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 3rem;
}

.contact form .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: var(--text-color);
        background: var(--bg-color);
        border-radius: .8rem;
        margin: .7rem 0;
        box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
        width: 49%;
}

.contact form textarea {
        resize: none
}

.contact form .btn {
        margin-top: 2rem;
        cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
        -webkit-appearance: none;
}
/*-- footer --*/

.footer {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem 7%;
        background: var(--main-color);
}

.footer-text p {
        font-size: 1.6rem;
        color: var(--white-color);
}

.footer-iconTop a {
        display: inline-flex;
        justify-content: center; 
        align-items: center;
        padding: .8rem;
        background: var(--white-color);
        border-radius: .8rem;
        border: .2rem solid var(--main-color);
}

.footer-iconTop a:hover {
        outline-color: var(--white-color);
}

.footer-iconTop a i {
        font-size: 2.4rem;
        color: #333;
}
